/* grid styles */

body {
	margin: 0; 
	box-sizing: border-box; 
	background: #FFFDED;
	overflow-x: hidden;
	color: #373737; 
}
main {
	width: calc(100vw + 4px);
	margin: -2px;
	display: grid;
	grid-template-columns: repeat(5, 1fr);
/*	grid-template-rows: inherit repeat(4, 1fr);*/
	grid-template-areas:
    	'header header header header  nav'
    	'details details details details details'
    	'announcements announcements feature feature feature'
    	'tutorials assignments assignments students students'
    	'etc etc etc etc etc'
    	'footer footer footer footer footer';
/*	grid-gap: 25px;*/
}
header, nav, #details, #students, #assignments, #tutorials, #announcements, #etc, #feature, footer {
	border: 2px solid #373737;
	padding: 25px;
	background: #FFFDED;
}
header {
/*	grid-column: span 4;*/
	grid-area: header;
}
nav {
/*	grid-column: span 2;*/
	grid-area: nav;
	display: flex; 
	align-items: flex-end;
	padding-bottom: 44px;
}
#details {
	grid-area: details;
	padding: 10px 0;
}
#announcements { grid-area: announcements; }
#students {	grid-area: students;}
#assignments { grid-area: assignments; }
#tutorials { grid-area: tutorials; }
#etc { grid-area: etc; }
#feature { grid-area: feature; }
footer {
	grid-area: footer;
}
/* list styles */
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

section ul li {
	margin: 5px 0;
}

/* type styles */

body {
	font-size: 16px;
	font-family: "degular-variable", sans-serif;
	font-variation-settings: "wght" 400, "opsz" 6, "ital" 0;
}
h1	{
	font-size: 7.993rem;
	font-family: "swear-display-cilati", sans-serif;
	font-weight: 700;
	font-style: normal;
	margin: 0;
	padding: 0;
}
h2	{
/*	font-size: 5.653rem;*/
	font-size: 3.998rem;
	font-family: "swear-display", serif;
	font-weight: 400;
	font-style: normal;
	margin: 0;
	padding: 0;
}
h3	{
/*	font-size: 3.998rem;*/
	font-size: 1.414rem;
	font-family: "swear-display", serif;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 2px;
	margin: 15px 0 0;
	padding: 0;
}
h4	{
	font-size: 2.827rem;
}
h5	{
	font-size: 1.999rem;
}
h6	{
	font-size: 1.414rem;
}
p, ul, ol, li	{
	font-size: 1rem;
}
nav ul {
	font-variation-settings: "wght" 800, "opsz" 6, "ital" 0;
	text-transform: uppercase;
	letter-spacing: .5px;
}
small {
	font-size: 0.707rem;
}
strong {
	font-variation-settings: "wght" 650;
}

/* link styles */
a {
	color: #FF7F51;
}
a:hover {
	color: #9C528B;
}

/* animations */
.marquee {
  animation: marquee 20s linear infinite;
}
.marquee:hover {
	animation-play-state: paused;
	cursor: wait;
}
@keyframes marquee {
  0% {
    transform: translate(100vw, 0);
  }
  100% {
    transform: translate(-1015px, 0);
  }